<% flash.each do |key, message| %>
  <div role="dialog" aria-labelledby="<%= "turbo-flash-title-#{key}" %>" aria-describedby="<%= "turbo-flash-body-#{key}" %>">
    <div id="<%= "turbo-flash-title-#{key}" %>"><%= message['title'] || message %></div>
    <% if message['body'] %>
      <div id="<%= "turbo-flash-body-#{key}" %>"><%= message['body'] %></div>
    <% end %>
  </div>
<% end %>
